body{
    background-color: #343a40;
}

.kanban-container{
    padding: 5vw;
}

.kanban-container h3{
    padding: 1vw 0;
    color: white;
    text-align: center;
}
.task{
    cursor: move;
    color: white;
    padding-left: 1vw;
    background-color: #30343f;
    width: 80%;
    margin: 2vw;
    text-align: center;
    padding:1vw 3vw;
    border-radius: 5px;
    font-size: 1.3vw;
}


.kanban-container #add{
    border: none;
    outline: none;
    font-size: 2vw;
    background-color: #343a40;
    caret-color: white;
    color: white;
}
.btn{
    color: white;
    font-size: 1.5vw;
    background-color: green;
}
.btn:hover{
    background-color: darkgreen;
}

.kanban-container .boards{
    padding: 5vw;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 3vw;
}

.lane{
    border-radius: 10px;
    width: 30%;
    background-color: black;
    text-align: center;
}
.is-dragging{
    background: white;
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.25);
    color: black;
}

.clear{
    align-self: center;
}